*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
.container{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: grey;
   
}
.login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    position: relative;
}
.lines{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lines p{
    padding: 0px 10px;
}
.lines div{
    width: 50px;
    height: 0px;
    border:solid 1px grey;
}
.sideimg{
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin: 0%;
    position: relative;
}
h1{
    margin-bottom: 5%;
    font-family: "Poppins", sans-serif;
    /* text-shadow: 0px 0px 10px grey,
    0px 0px 20px grey,
    0px 0px 40px grey,
    0px 0px 80px grey; */
    /* color: white; */
}
.textbox{
    width: 50%;
    display: flex;
    flex-direction: column;
}
button{
    display: block;
    width: 30%;
    height: 5%;
    border: 1px solid grey;
    color: grey;
    background-color: black;

}
.crf{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: -1%;
    
}
.crf a{
    color: blue;
}
span{
    color: rgba(128, 128, 128, 0.542);
}
.sideimg img{
    
    width: 100%;
    height: 100%;
}
#btn1{
    margin-top: 3%;
}
input[type="text"]{
    padding: 3px;
    font-size: 10px;
}
input[type="password"]{
    padding: 3px;
    font-size: 10px;
}
#btn2 img{
    width: 15px;
}
.btn2flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.sideimg h1{
    position: absolute;
    bottom: 54%;
    width: 100vw;
    display: none;
}
#language{
    position: absolute;
    top: 1%;
    right: 3%;
    width: 10%;
    border: 1px solid grey;
    color: grey;
    background-color: black;
}
#sidelanguage{
    position: absolute;
    top: 2%;
    right: 3%;
    width: 15%;
    border: 1px solid grey;
    color: grey;
    background-color: black;
    display: none;
}
@media(max-width:940px) {
    .crf{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    }
    .textbox{
        width: fit-content;
    }
}
@media(max-width:600px){
    #language{
        display: none;
    }
    #sidelanguage{
        display: flex;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .sideimg{
        width: 100vw;
    }
    .sideimg h1{
        display: flex;
        justify-content: center;
        bottom: 1%;
    }
    .login h1{
        display: none;
    }
    button{
        width: fit-content;
        height: fit-content;
    }
    .btn2flex{
        gap: 1vw;
    }
    .login{
        margin-top: -15%;
        padding-top: 5%;
        gap: 3%;
        width: 100%;
    }
    .textbox{
        width: fit-content;
    }
    button{
        padding: 2%;
    }
    span{

        font-size: 13px;
    }
    .crf a,label{
        font-size: 12px;
    }
}